.cardsHolder {
    width: 340px;
    height: 430px;
    background: rgb(230, 230, 230);
    padding: 10px;
    overflow-y: auto;
}

.verdeling {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    height: 80%;
}

.admin-card {
    position: relative;
}

.AdminButton {
    background: cyan;
    width: 100px;
    height: 15px;
    border-radius: 10px;

    position: absolute;
    bottom: 20px;
    right: 20px;
}

.AdminButton a {
    align-content: center;
}

@media screen and (max-width: 730px) {
    .verdeling {
        flex-direction: column;
    }

    .cardsHolder {
        margin-bottom: 20px;
    }
}