.Jouw-reactie-Card {
    width: 280px;
    height: 130px;
    background: red;
    margin: 10px;
    border-radius: 10px;
}

.card-image {
    border-radius: 4px;
    padding: 5px;
    width: 35%;
    margin: 10px;
}

img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
}

.reactie-card-information {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
}